<div class="row">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Login</span>
        <input placeholder="User Name" type="text" class="form-control"   [(ngModel)]="userName">
        <input placeholder="Password" type="password" class="form-control"   [(ngModel)]="password">
    </div>
</div>

  <div class="border border-dark p-3 mb-4">
    <div class="text-center">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>
    </div>

  </div>